<style>
 

    @font-face {
        font-family: 'titulo3';
        src: url("Marcellus-Regular.ttf");
    }

  

    .cont_img {
        width: 250px;
        height: auto;
        
    }

    .cont_ini {
        background: #f6f6f6;
        padding-bottom: 60px;
    }

    .cont_p {
        font-family: titulo3;
        font-size: 25px;
        font-weight: 700;
        text-decoration: none;
        color: #1E3C79;
        margin-bottom: 40px;
    }
@media(max-width:600px){
    .cont_a{
        padding-top: 40px;
        
    }
    .cont_bchi{
        position: relative;
        bottom: 40px;
    }
}

</style>
<div class="container-fluid">
    <div class="row text-center cont_ini">
        <div class=" col-sm-12 col-md-6">
            <a  href="donCutty.php?#dc" style="text-decoration: none;"><img class="cont_img cont_a " src="includes/img/PRODUCTOS/LOGOSARROCES/DONCOTTY.png" alt="...">
            <p class="cont_p" >Arroz Don Cotty</p>
            </a>
            
        </div>
        <div class=" col-sm-12 col-md-6">
            <a href="valentina.php" style="text-decoration: none;"><img class="cont_img" src="includes/img/PRODUCTOS/LOGOSARROCES/VALENTINA.png" alt="...">
            <p class="cont_p cont_bchi">Arroz valentina</p>
            </a>
            
        </div>
        <div class="col-sm-12 col-md-6">
            <a href="donaArmanda.php" style="text-decoration: none;"><img class="cont_img" src="includes/img/PRODUCTOS/LOGOSARROCES/DONAARMANDA.png" alt="...">
            <p class="cont_p">Arroz Doña Armanda</p>
            </a>
            
        </div>
        <div class="col-sm-12 col-md-6">
            <a href="buenchifa.php" style="text-decoration: none;"><img class="cont_img" src="includes/img/PRODUCTOS/LOGOSARROCES/BUENCHIFA.png" alt="...">
            <p class="cont_p cont_bchi">Arroz Buen Chifa</p>
            </a>
            
        </div>
        <div class="col-12">
            <a href="ricoton.php" style="text-decoration: none;"> <img class="cont_img" src="includes/img/PRODUCTOS/LOGOSARROCES/RICOTON.png" alt="..."> 
            <p class="cont_p">Subproducto Reprocesados Ricotón</p>
            </a>
            
        </div>
    </div>
</div>