<style>
    @font-face {
        font-family: 'titulo1';
        src: url("Domine-Bold");
    }

    @font-face {
        font-family: 'titulo3';
        src: url("Marcellus-Regular.ttf");
    }

    @font-face {
        font-family: 'titulo2';
        src: url("Domine-Regular.ttf");
    }

    .ini_img {
        width: 100%;
        max-height: 400px;
    }

    .ini_titu {
        font-family: titulo3;
        font-size: 3.3rem;
        font-weight: 700;
        padding-top: 2rem;
        padding-bottom: 2rem;
        color: #24417C;
    }

    .ini_parra {
        font-family: titulo2;
        color: #5b5b5b;
        font-weight: 400;
        text-align: justify;
        line-height: 30px;
    }
    .ini_btn{
        
        padding: 10px 40px;
    }
    @media (max-width: 600px) {
        .ini_parra{
            padding: 10px;
        }
        .ini_btn{
            margin-bottom: 40px;
        }
    }
</style>
<img class="ini_img" src="includes/img/NOSOTROS/FOTOSSLIDER/6.png" alt="...">
<div class="container-fluid">
    <div class="row text-center p-sm-1 p-md-5  ">
        <h1 class="ini_titu">Productos San Jorge</h1>

        <div class="col-md-6">
            <p class="ini_parra">
                Gracias a los agricultores que trabajan día a día la tierra, en conjunto con nuestra tecnología de
                punta, es que ofrecemos el arroz de mejor calidad a un precio justo.
            </p>
        </div>
        <div class="col-md-6">
            <p class="ini_parra">
                En Molino San Jorge, satisfacemos las necesidades de nuestros distintos consumidores, desde los
                hogares peruanos hasta restaurantes.
            </p>
        </div>

        <div >
            <a href="contacto.php?#contacto" class="btn btn-danger ini_btn "> Clic Para Cotizar</a>
        </div>

    </div>
</div>