<style>
    @font-face {
        font-family: 'titulo1';
        src: url("Domine-Bold");
    }

    @font-face {
        font-family: 'titulo3';
        src: url("Marcellus-Regular.ttf");
    }

    @font-face {
        font-family: 'titulo2';
        src: url("Domine-Regular.ttf");
    }

    .nut {
        font-family: titulo3;
        font-size: 1.4rem;
        color: #1E3C79;
    }

    .procont {
        position: relative;
        bottom: 70px;
        left: 50px;
    }

    .impr {
        width: 80px;
        height: 80px;
        border-radius: 50%;
    }

    .pr_img {

        /* background: red; */
        display: flex;
        justify-content: center;
        align-content: center;

        color: #cb382a;
        font-family: titulo3;
        font-weight: 700;
        line-height: 17px;

    }
    .pr_img p{
        position: relative;
        top: 20px;
        left: 8px;
    }


    .pr_hr {
        width: 5%;
        margin-bottom: 20px;
    }

    .pr_h5 {
        font-family: titulo3;
        color: #1E3C79;
        font-weight: 600;
        font-size: 1rem;
        padding-bottom: 16px;
        margin-top: 60px;
    }

    .pr_h1 {
        font-family: titulo3;
        color: #1E3C79;
        font-size: 3.5rem;
        font-weight: 700;
    }

    .btn-danger {
        margin-top: 20px;
        padding: 10px 25px;
    }


   


    @media (max-width: 600px) {
      
        .pr_h5 {
        margin-top: 30px;
    }
    }
</style>



<div class="container-fluid">
    <div class="row text-center align-items-center justify-content-center mt-5 mb-5 ">
        <p class="nut"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                class="bi bi-chevron-double-left" viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                    d="M8.354 1.646a.5.5 0 0 1 0 .708L2.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z" />
                <path fill-rule="evenodd"
                    d="M12.354 1.646a.5.5 0 0 1 0 .708L6.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z" />
            </svg>Nuestro propósito es apoyar al agricultor peruano para crecer y prosperar juntos .<svg
                xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                class="bi bi-chevron-double-right" viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                    d="M3.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L9.293 8 3.646 2.354a.5.5 0 0 1 0-.708z" />
                <path fill-rule="evenodd"
                    d="M7.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L13.293 8 7.646 2.354a.5.5 0 0 1 0-.708z" />
            </svg><i class="fa-solid fa-chevrons-right"></i></p>
        <div class=" col-md-12 pr_img">
            <img class="impr" src="includes/img/NOSOTROS/lsnosotros/GJorge.png" alt="">
            <p >Gerente General <br> Equipo de San Jorge</p>
        </div>
       

    </div>

    <div class="row text-center align-items-center justify-content-center mt-5 mb-5">
        <h5 class="pr_h5">ACOMPÁÑANOS</h5>
        <hr class="pr_hr">
        <h1 class="pr_h1">
            Conociendo nuestra <br>
            planta en Lambayeque
        </h1>
        <div>
            <a href="contacto.php?#contacto" class="btn btn-danger"> Contáctanos <i class="fa-solid fa-caret-right"></i></a>
        </div>
    </div>
</div>



