<style>
    @font-face {
        font-family: 'titulo3';
        src: url("Marcellus-Regular.ttf");
    }

    @font-face {
        font-family: 'titulo2';
        src: url("Domine-Regular.ttf");
    }
    .tmv{
        font-family: titulo3;
        font-size: 3.1rem;
        color: #1E3C79;
        font-weight: 900;
        padding-top: 40px;
    }
    .ti_mv{
        font-family: titulo3;
        font-size: 2.3rem;
        color: #1E3C79;
        font-weight: 700;
    }
    .imgmv {
        max-width: 190px;
        height: auto;

        margin-top: 30px;
        ;
    }

    .vm {
        min-height: 500px;
        /* max-height: auto; */
        padding: 50px;
    }

    .parr_mv{
        font-family: titulo2;
        color: #5b5b5b;
        line-height: 30px;
    }

    @media (max-width: 600px) {
        .tmv{
        font-family: titulo3;
        font-size: 2.4rem;
        color: #1E3C79;
        font-weight: 900;
        padding-top: 40px;
    }
    
    .vm {
        min-height: 500px;
        padding: 10px;
    }


    }
</style>

<div class="container-fluid">
    <div class="row text-center vm">
        <h2 class="tmv">Sobre Nosotros</h2>
        <div class="col-md-4">
            <div class="">
                <img src="includes/img/NOSOTROS/MVV/mision_SAN_JORGE.png" class="imgmv" alt="">
            </div>

            <div>
                <h2 class="ti_mv mt-md-4">Misión</h2>
            </div>
            <div>
                <p class="parr_mv">
                    Alimentar a los peruanos con la mejor calidad de arroz a precio justo,
                    teniendo un compromiso real con los agricultores del país y el medio ambiente.
                </p>
            </div>

        </div>

        <div class="col-md-4">
            <div class="">
                <img src="includes/img/NOSOTROS/MVV/vision_molino_san_jorge.png" class="imgmv" alt="">
            </div>

            <div>
                <h2 class="mt-md-4 ti_mv">Visión</h2>
            </div>
            <div>
                <p class="parr_mv">
                    Ser una empresa importante para el crecimiento de la agricultura peruana,
                    otorgando más trabajo a colaboradores y agricultores.
                </p>
            </div>

        </div>

        <div class="col-md-4">
            <div class="">
                <img src="includes/img/NOSOTROS/MVV/valores_molino_san_jorgepng.png" class="imgmv" alt="">
            </div>

            <div>
                <h2 class="mt-md-4 ti_mv">Valores</h2>
            </div>
            <div class="row">
                <div class="col-6 text-start">
                    <ul class="parr_mv">
                        <li>Empatía</li>
                        <li>Honestidad</li>
                        <li>Puntualidad</li>
                    </ul>
                </div>
                <div class="col-6 text-start">
                    <ul class="parr_mv">
                        <li>Responsabilidad</li>
                        <li>Alturismo</li>
                        <li>Innovación</li>
                    </ul>
                </div>
            </div>

        </div>

    </div>
</div>