
<style>
     @font-face {
        font-family: 'titulo1';
        src: url("Domine-Bold");
    }

    @font-face {
        font-family: 'titulo3';
        src: url("Marcellus-Regular.ttf");
    }

    @font-face {
        font-family: 'titulo2';
        src: url("Domine-Regular.ttf");
    }
    .map_foot{
        border-radius: 15px;
        margin: 5px;
        border: none;
    }

    .foot_cont{
        font-family: titulo2;
        color: #F6F6F6;
        line-height: 30px;
    }
    .foot_cont a{
        font-family: titulo2;
        color: #F6F6F6;
        
    }
    .foot_cont a:hover{
        color: #FFCE43;
    }
    .foot_titu{
        font-family: titulo3;
        font-weight: 700;
        color: #fff;
    }

    .foot_ult{
        font-family: titulo3;
        color: #fff;
        background: #1E3C79;
        border-top: 1px solid #F6F6F6;
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 20px;
    }

</style>

<div class="container-fluid">
    <div class="row" style="padding: 30px; background: #1E3C79; min-height: 400px;">
        <div class="col-sm-12 col-md-3 ">
            <a class="text-center" href="#"><img src="./includes/img/LOGO/LOGOBLANCO.png" width="250px" alt=""></a>
            <p class="foot_cont pt-4">
                Carr. Panamericana Nte. 777, <br> Lambayeque 14000 <br>
                979926503 <br>
                molinosanjorgeperu@gmail.com
            </p>
        </div>
        <div class="col-sm-12 col-md-3 ">
            <h1 class="foot_titu">Contáctanos</h1>
            <p class="foot_cont">
                En Molino San Jorge estamos dispuestos a contestar tus dudas.
                Puede comunicarse con nosotros mediante los datos brindados en la
                <a href="#" >página contáctanos</a>
            </p>
        </div>
        <div class="col-sm-12 col-md-2 ">
            <h1 class="foot_titu">Menú</h1>
            <ul class="foot_cont">
                <li><a href="./" style="text-decoration:none">Nosotros</a></li>
                <li><a href="productos.php" style="text-decoration:none">Productos</a></li>
                <li><a href="contacto.php" style="text-decoration:none">Contáctanos</a></li>
            </ul>
        </div>
        <div class=" col-sm-12 col-md-4 " >
            <iframe class="map_foot" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d31698.557119180317!2d-79.887572!3d-6.730801!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xf31d85eb5c6c3ebe!2sMolinos%20San%20Jorge%20S.A.C!5e0!3m2!1ses!2spe!4v1664796048523!5m2!1ses!2spe"  allowfullscreen="" max-width="400" height="300"  loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            
        </div>
    </div>
    <div class="row foot_ult">
        <div class="col-12 d-flex justify-content-between ">
            <p>Copyright 2022 Molino San Jorge</p>
            <p>Powered By Molino San Jorge</p>
        </div>
    </div>
</div>